BRIDGE_TOKEN=REPLACE_WITH_LONG_RANDOM_TOKEN
KAFKA_BROKERS=bootstrap.marketing.us-west1.managedkafka.poc-1-aima-pmu.cloud.goog:9092
KAFKA_CLIENT_ID=new-marketing
KAFKA_USERNAME=gcp-apache-kafka@poc-1-aima-pmu.iam.gserviceaccount.com
KAFKA_PASSWORD=REPLACE_WITH_BASE64_SERVICE_ACCOUNT_JSON
KAFKA_SSL=true
KAFKA_SASL_MECHANISM=PLAIN
KAFKA_DEFAULT_TOPIC=marketing.events
